amqp
annotated-types
anyio
asgiref
asttokens
attrs
autobahn
Automat
billiard
black
bleach
blinker
build
cachetools
cbor2
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cron_descriptor
cryptography
daphne
decorator
distro
django-axes
django-celery-beat
django-cors-headers
django-environ
django-filter
django-ipware
django-jazzmin
django-modern-admin-dashboard @ git+https://github.com/SajidKalam-byte/django-modern-admin-dashboard.git@3f459d1d6204090779b3c274f0c0e801a9a40f93
django-ratelimit
django-redis
django-timezone-field
django_celery_results
djangorestframework
djangorestframework_simplejwt
docutils
drf-spectacular
earthengine-api
executing
Faker
flake8
Flask
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
h11
httpcore
httplib2
httpx
hyperlink
id
idna
Incremental
inflection
iniconfig
ipython
ipython_pygments_lexers
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
jsonschema
jsonschema-specifications
keyring
kombu
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
more-itertools
msgpack
mypy_extensions
nh3
openai
packaging
parso
pathspec
pillow
platformdirs
pluggy
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
py-ubjson
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
PyJWT
PyMuPDF
pyOpenSSL
pyparsing
pypdf
pyproject_hooks
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
python-ipware
python-json-logger
pytokens
pywin32-ctypes
PyYAML
readme_renderer
redis
referencing
requests
requests-toolbelt
rfc3986
rich
rpds-py
rsa
service-identity
six
sniffio
sqlite_to_postgres
sqlparse
stack-data
tqdm
traitlets
twine
Twisted
txaio
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
uritemplate
urllib3
vine
wcwidth
webencodings
Werkzeug
zope.interface
