asgiref
Django>=4.2
django-cors-headers
django-environ
django-filter
django-modern-admin-dashboard @ git+https://github.com/SajidKalam-byte/django-modern-admin-dashboard.git@3f459d1d6204090779b3c274f0c0e801a9a40f93
djangorestframework
djangorestframework_simplejwt
dj-database-url
Pillow
psycopg2-binary
python-dotenv
requests
gunicorn
whitenoise
